<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vertical Sitemap using Bootstrap</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/stileindex.css">
  <script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>

  <style>
    .col-md-10 {
      padding: 0;
    }

    #ContactInformation {
      border: 1px solid grey;
      margin-left: 10px;
      margin-top: 30px;
      width: 100%;
    }

    #ContactElement span {
      min-width: 40%;
      max-width: 50%;
    }



    #ContactElement {
      min-width: 600px;
      margin: 20px;
    }
  </style>
</head>

<body>
  <nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">SiwCRM</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
      <div class="d-flex align-items-center">
        <span
          th:if="${#request.userPrincipal.principal instanceof T(org.springframework.security.oauth2.core.user.DefaultOAuth2User)}"
          th:text="'Ciao, ' + ${#request.userPrincipal.principal.attributes.name}"> </span>
        <span
          th:unless="${#request.userPrincipal.principal instanceof T(org.springframework.security.oauth2.core.user.DefaultOAuth2User)}"
          th:text="'Ciao, ' + ${#request.userPrincipal.principal.username}"> </span>
        <a href="/logout" class="btn btn-outline-primary">Log Out</a>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sitemap">
        <h1>Site Map</h1>
        <ul class="list-group">
          <li class="list-group-item"><a href="/">Home</a></li>
          <li class="list-group-item"><a href="#">Vendite</a>
            <ul class="list-group">
              <li class="list-group-item"><a href="/customers">Clienti</a></li>
              <li class="list-group-item"><a href="/contacts">Contatti</a></li>
              <li class="list-group-item"><a href="/orders">Ordini</a></li>
            </ul>
          </li>
          <li class="list-group-item"><a href="#">Gestione</a>
            <ul class="list-group">
              <li class="list-group-item"><a href="#">Listini</a></li>
              <li class="list-group-item"><a href="#">Prodotti</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-md-10 main-content">
        <form  method="POST" th:object="${order}">
          <div class="d-flex" id="menu">

            <a href="/orders">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-reply" style="padding: 5px"></i></span>
              </div>
            </a>

            <a href="#">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-plus" style="padding: 5px"></i>Nuovo</span>
              </div>
            </a>

            <a href="#" >
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-trash-can" style="padding: 5px"></i>Elimina</span>
              </div>
            </a>

            <button type="submit" style="border: transparent; background-color: transparent; padding: 0px;">
              <div class="d-flex align-items-center">
              <span><i class="fa-solid fa-floppy-disk" style="padding: 5px"></i>Salva</span>
              </div>
            </button>

          </div>
          <div class="d-flex">
            
            <div class="d-flex flex-column" id="ContactInformation">
              <h4 style="padding: 10px;">Informazioni Generali</h4>
              
              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Id Ordine</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input type="text" class="form-control" th:value="${order.id}" name="id" placeholder="">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Nome</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input type="text" class="form-control" th:value="${order.nome}" name="nome" placeholder="">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Data creazione</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input type="text" class="form-control" th:value="${order.createdOn}" name="createdOn" placeholder="">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Cliente</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input type="text" class="form-control" th:value="${customer.ragioneSociale}" name="ragioneSociale" placeholder="">
                </div>
              </div>

            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>