<!DOCTYPE html>
<html lang="en">

<head>
  <title>Listino</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/stileindex.css">
  <script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>

  <style>
    



  </style>
</head>

<body>
  <nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">SiwCRM</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
      <div class="d-flex align-items-center">
        <span
          th:if="${#request.userPrincipal.principal instanceof T(org.springframework.security.oauth2.core.user.DefaultOAuth2User)}"
          th:text="'Ciao, ' + ${#request.userPrincipal.principal.attributes.name}"> </span>
        <span
          th:unless="${#request.userPrincipal.principal instanceof T(org.springframework.security.oauth2.core.user.DefaultOAuth2User)}"
          th:text="'Ciao, ' + ${#request.userPrincipal.principal.username}"> </span>
        <a href="/logout" class="btn btn-outline-primary">Log Out</a>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sitemap">
        <h1>Site Map</h1>
        <ul class="list-group">
          <li class="list-group-item"><a href="/">Home</a></li>
          <li class="list-group-item"><a href="#">Vendite</a>
            <ul class="list-group">
              <li class="list-group-item"><a href="/customers">Clienti</a></li>
              <li class="list-group-item"><a href="/contacts">Contatti</a></li>
              <li class="list-group-item"><a href="/orders">Ordini</a></li>
            </ul>
          </li>
          <li class="list-group-item"><a href="#">Gestione</a>
            <ul class="list-group">
              <li class="list-group-item"><a href="/priceLists">Listini</a></li>
              <li class="list-group-item"><a href="/products">Prodotti</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-md-10 main-content">
        <form th:action="@{/updatePriceList}" method="POST" th:object="${priceList}" th:if="${priceList.id}">
          <div class="d-flex" id="menu">

            <a href="/priceLists">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-reply" style="padding: 5px"></i></span>
              </div>
            </a>

            <a href="/formNewPriceList">
              <div class="d-flex align-items-center">
              <span><i class="fa-solid fa-plus" style="padding: 5px"></i>Nuovo Listino</span>
              </div>
            </a>

            <a th:href="@{'/deletePriceList/' + ${priceList.id}}">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-trash-can" style="padding: 5px"></i>Elimina</span>
              </div>
            </a>

            <button type="submit" style="border: transparent; background-color: transparent; padding: 0px;">
              <div class="d-flex align-items-center">
              <span><i class="fa-solid fa-floppy-disk" style="padding: 5px"></i>Salva</span>
              </div>
            </button>

            <a th:href="@{'/addProductToPriceList/' + ${priceList.id}}">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-barcode" style="padding: 5px"></i>Aggiungi prodotto al Listino</span>
              </div>
            </a>

  
          </div>
          <div th:if="${#fields.hasGlobalErrors()}">

            <div class="alert alert-danger" role="alert" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
               <a href="#" class="alert-link"></a>
            </div>
          </div>
          <div class="d-flex">
            
            <div class="d-flex flex-column" id="ContactInformation">
              <h4 style="padding: 10px;">Informazioni Generali</h4>
              
              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Id Listino</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input type="text" class="form-control" th:value="${priceList.id}" name="id" placeholder="" readonly>
                </div>
              </div>
              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Nome Listino</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input type="text" class="form-control" th:value="${priceList.nome}" name="nome" placeholder="">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Data creazione</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input type="text" class="form-control" th:value="${priceList.createdOn}" name="createdOn" placeholder="" readonly> 
                </div>
              </div>

            </div>
          </div>


        </form>

        <form th:action="@{/newPriceList}" method="POST" th:object="${priceList}" th:unless="${priceList.id}">
          <div class="d-flex" id="menu">

            <a href="/priceLists">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-reply" style="padding: 5px"></i></span>
              </div>
            </a>

            <a href="/formNewPriceList">
              <div class="d-flex align-items-center">
              <span><i class="fa-solid fa-plus" style="padding: 5px"></i>Nuovo Listino</span>
              </div>
            </a>

            <button type="submit" style="border: transparent; background-color: transparent; padding: 0px;">
              <div class="d-flex align-items-center">
              <span><i class="fa-solid fa-floppy-disk" style="padding: 5px"></i>Salva</span>
              </div>
            </button>

          </div>
          <div th:if="${#fields.hasGlobalErrors()}">

            <div class="alert alert-danger" role="alert" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
               <a href="#" class="alert-link"></a>
            </div>
          </div>
          <div class="d-flex">
            
            <div class="d-flex flex-column" id="ContactInformation">
              <h4 style="padding: 10px;">Informazioni Generali</h4>
              
              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Id Listino</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input type="text" class="form-control" th:value="${priceList.id}" name="id" placeholder="" readonly>
                </div>
              </div>
              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Nome Listino</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('nome')}" type="text" class="form-control" th:value="${nome}" name="nome" placeholder="">
                  <input th:if="${#fields.hasErrors('nome')}" type="text" class="form-control is-invalid" th:value="${nome}" name="nome" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
                </div>
              </div>
              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Data creazione</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input type="text" class="form-control" th:value="${priceList.createdOn}" name="createdOn" placeholder="" readonly>
                </div>
              </div>
              

            </div>
          </div>


        </form>

        <div class="container-fluid container-table mx-auto p-2" >
          <h4>Prodotti Listino</h4>
          <div class="table-responsive" >
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Prodotto</th>
                  <th scope="col">Costo</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <form th:action="@{/createPriceListItem}" method="POST" th:object="${priceListItem}" th:if="${productsToAdd}">
                  <div th:if="${#fields.hasGlobalErrors()}">

                    <div class="alert alert-danger" role="alert" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                       <a href="#" class="alert-link"></a>
                    </div>
                  </div>
                <tr th:if="${productsToAdd}">
                 
                  <th scope="row">
                    <div class="d-flex flex-column flex-grow-1" style="height: 2.4rem;">
                      <select th:if="${!#fields.hasErrors('product')}" class="form-select" name="product" style="height: 100%;">
                        <option value ="" selected></option>
                        <option th:each="productToAdd : ${productsToAdd}" th:text="${productToAdd.nome}" th:value="${productToAdd.id}" >Christopher Nolan</option>
                      </select>
                      <select th:unless="${!#fields.hasErrors('product')}" class="form-select is-invalid" name="product" style="height: 100%;">
                        <option value ="" selected></option>
                        <option th:each="productToAdd : ${productsToAdd}" th:text="${productToAdd.nome}" th:value="${productToAdd.id}" >Christopher Nolan</option>
                      </select>
                      <h1 class="invalid-feedback" th:if="${#fields.hasErrors('product')}" th:errors="*{product}"></h1>

                    </div>
                 </th>
                  <td>
                    <input th:if="${!#fields.hasErrors('costo')}" type="text" class="form-control" th:value="${costo}" name="costo" placeholder="">
                    <input th:if="${#fields.hasErrors('costo')}" type="text" class="form-control is-invalid" th:value="${costo}" name="costo" placeholder="">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('costo')}" th:errors="*{costo}"></div>
                    <input type="hidden" class="form-control" name="priceList" id="priceList" th:value="${priceList.id}">
                  </td>
                  <td style="width: 7%;">
                  <button type="submit" class="btn btn-info">Aggiungi</button>
                </td>
                </tr>
              </form>
                <tr th:each="priceListItem : ${priceList.priceListItems}">
                  <th scope="row" th:text="${priceListItem.product.nome}" th:href="@{'/priceListItem/' + ${priceListItem.product.id}}"
                      class=""></th>
                  <td th:text="${priceListItem.costo}">5</td>
                  <td style="width: 7%;">
                    <a th:href="'/deletePriceListItem/' + ${priceListItem.id}" class="btn btn-danger">Rimuovi</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
          
        
        
      </div>
    </div>
  </div>
  </div>
  </div>
</body>