<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vertical Sitemap using Bootstrap</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/stileindex.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sitemap">
        <h1>Site Map</h1>
        <ul class="list-group">
          <li class="list-group-item"><a href="#">Home</a></li>
          <li class="list-group-item"><a href="#">Sales</a>
            <ul class="list-group">
              <li class="list-group-item"><a href="#">Accounts</a></li>
              <li class="list-group-item"><a href="#">Contacts</a></li>
              <li class="list-group-item"><a href="#">Leads</a></li>
              <li class="list-group-item"><a href="#">Opportunities</a></li>
              <li class="list-group-item"><a href="#">Orders</a></li>
            </ul>
          </li>
          <li class="list-group-item"><a href="#">Service</a>
            <ul class="list-group">
              <li class="list-group-item"><a href="#">Cases</a></li>
              <li class="list-group-item"><a href="#">Knowledge Base</a></li>
              <li class="list-group-item"><a href="#">Contracts</a></li>
              <li class="list-group-item"><a href="#">Invoices</a></li>
            </ul>
          </li>
          <li class="list-group-item"><a href="#">Marketing</a>
            <ul class="list-group">
              <li class="list-group-item"><a href="#">Campaigns</a></li>
              <li class="list-group-item"><a href="#">Marketing Lists</a></li>
              <li class="list-group-item"><a href="#">Quick Campaigns</a></li>
              <li class="list-group-item"><a href="#">Marketing Emails</a></li>
            </ul>
          </li>
          <li class="list-group-item"><a href="#">Settings</a>
            <ul class="list-group">
              <li class="list-group-item"><a href="#">Business Units</a></li>
              <li class="list-group-item"><a href="#">Security Roles</a></li>
              <li class="list-group-item"><a href="#">Users</a></li>
              <li class="list-group-item"><a href="#">Teams</a></li>
              <li class="list-group-item"><a href="#">System Settings</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-10 main-content">
        <h1>Main Content Area</h1>
        <p>This is the main content area of the web page.</p>
      </div>
    </div>
  </div>
  
  <!-- jQuery e plugin JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd
