body, html {
  height: 100%;
  overflow: auto;
}

nav{
  height: 8vh;
}
a:hover{
  text-decoration: none;
}
.sitemap {
    background-color: #F0F0F0;
    height: 92vh;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
  }
  .sitemap h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    color: #004578;
  }
  .sitemap .list-group {
    margin-bottom: 0;
    border-radius: 0;
  }
  .sitemap .list-group-item {
    background-color: #F0F0F0;
    border: none;
    padding: 0;
    position: relative;
  }
  .sitemap .list-group-item a {
    color: #004578;
    display: block;
    padding: 12px 20px;
    transition: all 0.3s ease;
  }
  .sitemap .list-group-item a:hover {
    color: #FFFFFF;
    background-color: #004578;
    text-decoration: none;
  }
  .sitemap .list-group-item ul {
    margin-bottom: 0;
  }
  .sitemap .list-group-item li {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
  }
  .sitemap .list-group-item li:last-child {
    border-bottom: none;
  }

  .sitemap .list-group-item li a {
    color: #004578;
    display: block;
    padding: 10px 20px;
    transition: all 0.3s ease;
  }
  .sitemap .list-group-item li a:hover {
    color: #FFFFFF;
    background-color: #004578;
    text-decoration: none;
  }

  #section, #active{
    color: #FFFFFF;
    display: block;
    background-color: #004578;
    padding: 10px 20px;
  }
  #section:hover, #active:hover{
    color: #FFFFFF;
    pointer-events: none;
    text-decoration: none;
  }

  #nonactive:hover{
    color: blue;
    background-color: transparent;
    
  }

 

tr{
  transform: rotate(0);
}

tr:hover{
  background-color: #e9ecef;
}

.table tbody tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.d-flex span{
  padding: 5px;
}

.d-flex a {
  text-decoration: none;
  color: black;
}

#menu a:hover , #menu button:hover {
  text-decoration: none;
  color: #005ba1;
  background-color: #e9ecef;
}

#menu span:hover {
  background-color: #e9ecef;
}

.container-table{
  width: 90%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.main-content #menu a,
  .main-content #menu button {
    font-size: 20px;
    
  }


  .col-md-10 {      
    height: 92vh; /* Imposta l'altezza desiderata */
    overflow-y: scroll; /* Abilita lo scorrimento verticale */
    padding: 0;
  }

  #ContactInformation, #tablecustomer {
    margin: 30px 10px;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  #ContactElement span {
    min-width: 40%;
    max-width: 50%;
  }

  #ContactElement {
    margin: 20px;
  }

