<!DOCTYPE html>
<html lang="en">

<head>
  <title>SiwCRM</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/stileindex.css">
  <script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a  class="navbar-brand">SiwCRM</a>
      <div class="d-flex align-items-center">
        <span
          th:if="${#request.userPrincipal.principal instanceof T(org.springframework.security.oauth2.core.user.DefaultOAuth2User)}"
          th:text="'Ciao, ' + ${#request.userPrincipal.principal.attributes.name}"> </span>
        <span
          th:unless="${#request.userPrincipal.principal instanceof T(org.springframework.security.oauth2.core.user.DefaultOAuth2User)}"
          th:text="'Ciao, ' + ${#request.userPrincipal.principal.username}"> </span>
        <a href="/logout" class="btn btn-outline-primary">Log Out</a>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sitemap">
        <h1>Site Map</h1>
        <ul class="list-group">
          <li class="list-group-item"><a id="nonactive">Vendite</a>
            <ul class="list-group">
              <li class="list-group-item"><a href="/customers" id="active">Clienti</a></li>
              <li class="list-group-item"><a href="/contacts">Contatti</a></li>
              <li class="list-group-item"><a href="/orders">Ordini</a></li>
              <li class="list-group-item"><a href="/invoices">Fatture</a></li>
            </ul>
          </li>
          <li class="list-group-item"><a id="nonactive">Gestione</a>
            <ul class="list-group">
              <li class="list-group-item"><a href="/priceLists">Listini</a></li>
              <li class="list-group-item"><a href="/products">Prodotti</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-md-10 main-content">
        <form th:if="${customer.id}" th:action="@{/formUpdateCustomer}" method="POST" th:object="${customer}">
          <div class="d-flex" id="menu">

            <a href="/customers">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-reply" style="padding: 5px"></i></span>
              </div>
            </a>

            <a href="/formNewCustomer">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-plus" style="padding: 5px"></i>Nuovo</span>
              </div>
            </a>

            <a th:href="@{'/eliminaCustomer/' + ${customer.id}}" th:if="${customer.id}">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-trash-can" style="padding: 5px"></i>Elimina</span>
              </div>
            </a>

            <a th:href="@{'/createOrder/' + ${customer.id}}" th:if="${customer.id}">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-basket-shopping" style="padding: 5px"></i>Crea Ordine</span>
              </div>
            </a>

            <a th:href="@{'/addContactToCustomer/' + ${customer.id}}" th:if="${customer.id}">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-id-badge" style="padding: 5px;"></i></i>Aggiungi Contatto</span>
              </div>
            </a>

            <button type="submit" style="border: transparent; background-color: transparent; padding: 0px;">
              <div class="d-flex align-items-center">
              <span><i class="fa-solid fa-floppy-disk" style="padding: 5px"></i>Salva</span>
              </div>
            </button>

          </div>
          <div th:if="${#fields.hasGlobalErrors()}">

            <div class="alert alert-danger" role="alert" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
               <a href="#" class="alert-link"></a>
            </div>
          </div>
          <div class="d-flex">
            
            <div class="d-flex flex-column" id="ContactInformation">
              <h4 style="padding: 10px;">Informazioni Generali</h4>
              

              <input type="hidden" class="form-control" name="id" id="customerId" th:value="${customer.id}">

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Ragione Sociale</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('ragioneSociale')}" type="text" class="form-control" th:value="${customer.ragioneSociale}" name="ragioneSociale" placeholder="">
                  <input th:if="${#fields.hasErrors('ragioneSociale')}" type="text" class="form-control is-invalid" th:value="${customer.ragioneSociale}" name="ragioneSociale" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('ragioneSociale')}" th:errors="*{ragioneSociale}"></div>
                </div>
              </div>
              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Partita IVA</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('pIva')}" type="text" class="form-control" th:value="${customer.pIva}" name="pIva" placeholder="">
                  <input th:if="${#fields.hasErrors('pIva')}" type="text" class="form-control is-invalid" th:value="${customer.pIva}" name="pIva" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('pIva')}" th:errors="*{pIva}"></div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Telefono</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('telefono')}" type="text" class="form-control" th:value="${customer.telefono}" name="telefono" placeholder="">
                  <input th:if="${#fields.hasErrors('telefono')}" type="text" class="form-control is-invalid" th:value="${customer.telefono}" name="telefono" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Email</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('email')}" type="email" class="form-control" th:value="${customer.email}" name="email" placeholder="">
                  <input th:if="${#fields.hasErrors('email')}" type="email" class="form-control is-invalid" th:value="${customer.email}" name="email" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>FAX</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('fax')}" type="text" class="form-control" th:value="${customer.fax}" name="fax" placeholder="">
                  <input th:if="${#fields.hasErrors('fax')}" type="text" class="form-control is-invalid"  th:value="${customer.fax}" name="fax" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('fax')}" th:errors="*{fax}"></div>
                </div>
              </div>

            </div>
            <div class="d-flex flex-column" id="ContactInformation">
              <h4 style="padding: 10px;">Indirizzo di fatturazione</h4>

              <input type="hidden" class="form-control" name="id" id="customerId" th:value="${customer.id}">

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Indirizzo</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('indirizzo')}" type="text" class="form-control" th:value="${customer.indirizzo}" name="indirizzo" placeholder="">
                  <input th:if="${#fields.hasErrors('indirizzo')}" type="text" class="form-control is-invalid" th:value="${customer.indirizzo}" name="indirizzo" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}">
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Numero civico</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('numeroCivico')}" type="text" class="form-control" th:value="${customer.numeroCivico}" name="numeroCivico" placeholder="">
                  <input th:if="${#fields.hasErrors('numeroCivico')}" type="text" class="form-control is-invalid" th:value="${customer.numeroCivico}" name="numeroCivico" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('numeroCivico')}" th:errors="*{numeroCivico}"></div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>CAP</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('cap')}" type="text" class="form-control" th:value="${customer.cap}" name="cap" placeholder="">
                  <input th:if="${#fields.hasErrors('cap')}" type="text" class="form-control is-invalid" th:value="${customer.cap}" name="cap" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('cap')}" th:errors="*{cap}"></div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Nazione</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('nazione')}" type="text" class="form-control" th:value="${customer.nazione}" name="nazione" placeholder="">
                  <input th:if="${#fields.hasErrors('nazione')}" type="text" class="form-control is-invalid" th:value="${customer.nazione}" name="nazione" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('nazione')}" th:errors="*{nazione}"></div>
                </div>
              </div>
            </div>

          </div>
        </form>

        <form th:unless="${customer.id}" th:action="@{/newCustomer}" method="POST" th:object="${customer}">
          <div class="d-flex" id="menu">

            <a href="/customers">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-reply" style="padding: 5px"></i></span>
              </div>
            </a>

            <a href="/formNewCustomer">
              <div class="d-flex align-items-center">
                <span><i class="fa-solid fa-plus" style="padding: 5px"></i>Nuovo</span>
              </div>
            </a>

            <button type="submit" style="border: transparent; background-color: transparent; padding: 0px;">
              <div class="d-flex align-items-center">
              <span><i class="fa-solid fa-floppy-disk" style="padding: 5px"></i>Salva</span>
              </div>
            </button>

          </div>
          <div th:if="${#fields.hasGlobalErrors()}">

            <div class="alert alert-danger" role="alert" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
              A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you
              like.
            </div>
          </div>
          <div class="d-flex">
            
            <div class="d-flex flex-column" id="ContactInformation">
              <h4 style="padding: 10px;">Informazioni Generali</h4>
              

              <input type="hidden" class="form-control" name="id" id="customerId" th:value="${customer.id}">

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Ragione Sociale</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('ragioneSociale')}" type="text" class="form-control" th:value="${customer.ragioneSociale}" name="ragioneSociale" placeholder="">
                  <input th:if="${#fields.hasErrors('ragioneSociale')}" type="text" class="form-control is-invalid" th:value="${customer.ragioneSociale}" name="ragioneSociale" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('ragioneSociale')}" th:errors="*{ragioneSociale}"></div>
                </div>
              </div>
              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Partita IVA</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('pIva')}" type="text" class="form-control" th:value="${customer.pIva}" name="pIva" placeholder="">
                  <input th:if="${#fields.hasErrors('pIva')}" type="text" class="form-control is-invalid" th:value="${customer.pIva}" name="pIva" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('pIva')}" th:errors="*{pIva}"></div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Telefono</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('telefono')}" type="text" class="form-control" th:value="${customer.telefono}" name="telefono" placeholder="">
                  <input th:if="${#fields.hasErrors('telefono')}" type="text" class="form-control is-invalid" th:value="${customer.telefono}" name="telefono" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Email</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('email')}" type="email" class="form-control" th:value="${customer.email}" name="email" placeholder="">
                  <input th:if="${#fields.hasErrors('email')}" type="email" class="form-control is-invalid" th:value="${customer.email}" name="email" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>FAX</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('fax')}" type="text" class="form-control" th:value="${customer.fax}" name="fax" placeholder="">
                  <input th:if="${#fields.hasErrors('fax')}" type="text" class="form-control is-invalid"  th:value="${customer.fax}" name="fax" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('fax')}" th:errors="*{fax}"></div>
                </div>
              </div>

            </div>
            <div class="d-flex flex-column" id="ContactInformation">
              <h4 style="padding: 10px;">Indirizzo di fatturazione</h4>

              <input type="hidden" class="form-control" name="id" id="customerId" th:value="${customer.id}">

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Indirizzo</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('indirizzo')}" type="text" class="form-control" th:value="${customer.indirizzo}" name="indirizzo" placeholder="">
                  <input th:if="${#fields.hasErrors('indirizzo')}" type="text" class="form-control is-invalid" th:value="${customer.indirizzo}" name="indirizzo" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}">
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Numero civico</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('numeroCivico')}" type="text" class="form-control" th:value="${customer.numeroCivico}" name="numeroCivico" placeholder="">
                  <input th:if="${#fields.hasErrors('numeroCivico')}" type="text" class="form-control is-invalid" th:value="${customer.numeroCivico}" name="numeroCivico" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('numeroCivico')}" th:errors="*{numeroCivico}"></div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>CAP</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('cap')}" type="text" class="form-control" th:value="${customer.cap}" name="cap" placeholder="">
                  <input th:if="${#fields.hasErrors('cap')}" type="text" class="form-control is-invalid" th:value="${customer.cap}" name="cap" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('cap')}" th:errors="*{cap}"></div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3" id="ContactElement">
                <span>Nazione</span>
                <div class="d-flex flex-column flex-grow-1">
                  <input th:if="${!#fields.hasErrors('nazione')}" type="text" class="form-control" th:value="${customer.nazione}" name="nazione" placeholder="">
                  <input th:if="${#fields.hasErrors('nazione')}" type="text" class="form-control is-invalid" th:value="${customer.nazione}" name="nazione" placeholder="">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('nazione')}" th:errors="*{nazione}"></div>
                </div>
              </div>
            </div>

          </div>
        </form>
      
        <div class="d-flex " th:if="${customer.id}">
          <div class="table-responsive container-table" id="tablecustomer">
            <h4 style="padding: 10px;">Ordini</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Data Creazione</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="order : ${orders}">
                  <th scope="row"><a th:text="${order.id}" th:href="@{'/order/' + ${order.id}}"
                      class="stretched-link"></a></th>
                  <td th:text="${order.nome}">Nome</td>
                  <td th:text="${order.createdOn}">26/05/2023</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive container-table" id="tablecustomer">
            <h4 style="padding: 10px;">Contatti</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nome Completo</th>
                  <th scope="col">Email</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <form th:action="@{/addContactToCustomer}" method="POST" th:if="${contactsToAdd}">
                  <input type="hidden" class="form-control" name="customerId" id="customerId" th:value="${customer.id}">
                <tr th:if="${contactsToAdd}">
                 
                  <th scope="row">
                    <div class="d-flex flex-column flex-grow-1" style="height: 2.4rem;">
                      <select class="form-select" name="contactId" style="height: 100%;">
                        <option value ="" selected></option>
                        <option th:each="contactToAdd : ${contactsToAdd}" th:text="${contactToAdd.nome} + ' ' + ${contactToAdd.cognome}" th:value="${contactToAdd.id}" >Christopher Nolan</option>
                      </select>
                    </div>
                  </th>
                  <td style="width: 7%;">
                    <button type="submit" class="btn btn-info">Aggiungi</button>
                  </td>
                </tr>
                </form>
                <tr th:each="contact : ${contacts}">
                  <th scope="row"><a th:text="${contact.nome} + ' ' + ${contact.cognome}" th:href="@{'/contact/' + ${contact.id}}"></a></th>
                  <td th:text="${contact.email}">Rossi</td>
                  <td style="width: 7%;">
                    <a th:href="'/removeContactFromCustomer/' + ${contact.id} + '/' + ${customer.id}" class="btn btn-danger">Rimuovi</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
  </div>
  </div>
  </div>
</body>