<!DOCTYPE html>
<html lang="en">

<head>
  <title>SiwCRM</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/stileindex.css">
  <script src="https://kit.fontawesome.com/911a8faad0.js" crossorigin="anonymous"></script>

  <style>
    .col-md-10 {
      padding: 0;
    }
  </style>
</head>

<body>
  <nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand">SiwCRM</a>
      <div class="d-flex align-items-center">
        <span
          th:if="${#request.userPrincipal.principal instanceof T(org.springframework.security.oauth2.core.user.DefaultOAuth2User)}"
          th:text="'Ciao, ' + ${#request.userPrincipal.principal.attributes.name}"> </span>
        <span
          th:unless="${#request.userPrincipal.principal instanceof T(org.springframework.security.oauth2.core.user.DefaultOAuth2User)}"
          th:text="'Ciao, ' + ${#request.userPrincipal.principal.username}"> </span>
        <a href="/logout" class="btn btn-outline-primary">Log Out</a>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sitemap">
        <h1>Site Map</h1>
        <ul class="list-group">
          <li class="list-group-item"><a id="nonactive">Vendite</a>
            <ul class="list-group">
              <li class="list-group-item"><a href="/customers" id="active">Clienti</a></li>
              <li class="list-group-item"><a href="/contacts">Contatti</a></li>
              <li class="list-group-item"><a href="/orders">Ordini</a></li>
              <li class="list-group-item"><a href="/invoices">Fatture</a></li>
            </ul>
          </li>
          <li class="list-group-item"><a id="nonactive">Gestione</a>
            <ul class="list-group">
              <li class="list-group-item"><a href="/priceLists">Listini</a></li>
              <li class="list-group-item"><a href="/products">Prodotti</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-md-10 main-content">
        
          <div class="d-flex" id="menu">
            <a href="/formNewCustomer">
              <div class="d-flex align-items-center">
              <span><i class="fa-solid fa-plus" style="padding: 5px"></i>Nuovo</span>
              </div>
            </a>           

            
              

          </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Ragione Sociale</th>
                <th scope="col">Partita Iva</th>
                <th scope="col">Nazione</th>
                <th scope="col">Indirizzo</th>
                <th scope="col">Cap</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="customer : ${customers}">
                <th scope="row"><a th:text="${customer.ragioneSociale}" th:href="@{'/customer/' + ${customer.id}}" class="stretched-link"></a></th>
                  <td th:text="${customer.pIva}">0555011</td>
                  <td th:text="${customer.nazione}">Italia</td>
                  <td th:text="${customer.indirizzo}">Via Roma</td>
                  <td th:text="${customer.cap}">00152</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>